body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e3f2fd;
}

.app {
  height: 100%;
}

.app-header {
  text-align: center;
  background-color: #0288d1;
  height: 50px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
  color: #004ba0;
  padding-left: 20px;
}

.app-content {
  width: 100%;
  padding-left: 200px;
}

.title {
  text-align: right;
  width: 100px;
  padding: 5px;
  display: inline-block;
}
.input {
  padding: 5px;
  width: 840px;
  display: inline-block;
}

.input input {
  width: 100%;
}

.input textarea {
  width: 100%;
}

.emailForm .button {
  padding-left: 115px;
}

.searchHistoryForm .button {
  padding-left: 50px;
  display: inline-block;
}

.searchHistoryForm .textbox {
  display: inline-block;
}

.searchHistoryForm .textbox .title {
  width: 100px;
  display: inline-block;
}

.searchHistoryForm .textbox .input {
  width: 200px;
  padding: 5px;
  display: inline-block;
}

.searchHistoryForm .textarea .input {
  width: 840px;
  padding: 5px;
  display: inline-block;
}

